<ng-container *ngIf="isOpenSlider$ |async;then slider;else partfolio"></ng-container>




<ng-template #slider>
  <app-slider (closeSlider)="closeSlider()" [photoId]="selectedPhotoID$.value"></app-slider>
</ng-template>
<ng-template #partfolio>
  <div class="container">
    <ng-container
      *ngFor="
        let photo of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
      "
    >
      <div class="card" (click)="openSlider(photo)">
        <img src="/assets/img/photos/photo_{{ photo }}.jpg"  loading="lazy" alt="photo_{{ photo }}" />
      </div>
    </ng-container>
  </div>
</ng-template>
